.padding-0 {
  padding: 0 !important;
}
.padding-5 {
  padding: 5px !important;
}
.hiddenFileInput {
  position: fixed;
  left: -100000px;
  top:  -100000px;
}

.buttonPadding {
  padding: 5px !important;
}

.canvasParent {
  height: 100%;
}

.canvasParent, .canvasParent canvas {
  background-color: lightgray;
}
.canvasParent canvas.cursorPointer {
    cursor: pointer;
}

.pointlist {
  max-height: 300px;
  overflow: auto;
  margin: 3px 0;
  border-top: 3px black solid;
  border-bottom: 3px black solid;
}

.fakeLink:hover {
  cursor: pointer;
}